@import 'fonts';
@import 'bootstrap';

// Colors
$primary: #00a55e;
$secondary: #009753; // TODO get right color
$complementary: #777; // TODO get right color
$background: #191919; // TODO get right color

// Fonts
$nunito: 'Nunito', sans-serif;

// Metrics
$md: 991px;
$iPadPro: 1024px;

// Mixins
@mixin aFade($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}
@mixin boxShadow($x, $y, $blur, $color) {
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  -ms-box-shadow: $x $y $blur $color;
  -o-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}
@mixin marginX($x) {
  margin-left: $x;
  margin-right: $x;
}
@mixin marginY($y) {
  margin-left: $y;
  margin-right: $y;
}
@mixin paddingX($x) {
  padding-left: $x;
  padding-right: $x;
}
@mixin paddingY($y) {
  padding-left: $y;
  padding-right: $y;
}

// Classes
body {
  @extend .container-fluid;
  text-align: center;
  font-family: $nunito;
  color: $primary;
  background: $background;
  @include paddingX(160px);
  @media screen and (max-width: $iPadPro) {
    @include paddingX(5vw);
  }
}

.btnStd {
  @extend .btn;
  text-transform: uppercase;
  font-weight: 600;
}

.navBtn {
  @extend .btnStd;
  background: transparent;
  color: $complementary;
  border: 2px solid transparent;
  padding: .3rem .8rem;
  margin: auto .4rem;
  &:hover,
  &:focus,
  &.active {
    color: $primary;
    border-color: $primary;
  }
  @media screen and (max-width: $md) {
    margin: .2rem auto;
  }
}

#appNavBar {
  padding: 0;
  @include boxShadow(0, 2px, 1px, #777);
}

.logo,
#navToggler {
  margin: 1rem 2rem;
}

.loginContainer {
  background: #e3e3e3;
  margin: 0;
  padding: 1rem 3.5rem;
}
.logBtn {
  @extend .navBtn;
  background: $primary;
  color: #fff;
  border: 2px solid $primary;
  padding: .3rem .8rem;
  @include boxShadow(0, 2px, 0, $secondary);
  &:hover,
  &:focus {
    background: #fff;
    color: $primary;
  }
}
