@import 'fonts';
@import '../../ext_res/bootstrap/css/bootstrap';

// Colors
$primary: #00a55e;
$secondary: #009753;
$bodyColor: #787676;
$complementary: #6c6c6c;
$background: #171817;

// Fonts
$nunito: 'Nunito', sans-serif;

// Metrics
$nav-height: 66px;
$min-app-height: 0px; // TODO: get the right maximum value
$sm: 414px;
$md: 991px;
$lg: 2200px;

// Mixins
@mixin aFade($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}
@mixin boxShadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  -ms-box-shadow: $x $y $blur $spread $color;
  -o-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}
@mixin insetShadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow: inset $x $y $blur $spread $color;
  -moz-box-shadow: inset $x $y $blur $spread $color;
  -ms-box-shadow: inset $x $y $blur $spread $color;
  -o-box-shadow: inset $x $y $blur $spread $color;
  box-shadow: inset $x $y $blur $spread $color;
}
@mixin marginX($x) {
  margin-left: $x;
  margin-right: $x;
}
@mixin marginY($y) {
  margin-top: $y;
  margin-bottom: $y;
}
@mixin paddingX($x) {
  padding-left: $x;
  padding-right: $x;
}
@mixin paddingY($y) {
  padding-top: $y;
  padding-bottom: $y;
}
@mixin borderRadius($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  -ms-border-radius: $rad;
  -o-border-radius: $rad;
  border-radius: $rad;
}
@mixin grayFilter($gray, $opac: 40%) {
  -webkit-filter: grayscale($gray) opacity($opac);
  filter: grayscale($gray) opacity($opac);
}
@mixin contFilter($cont, $brig: 30%) {
  -webkit-filter: contrast(0) brightness($brig);
  filter: contrast(0) brightness($brig);
}

// Classes
.appContainer {
  @extend .container-fluid;
  text-align: center;
  font-family: $nunito;
  color: $bodyColor;
  background: $background;
  font-size: 12px;
  line-height: 1.482;
  padding: 0;
  margin: auto;
  max-width: 1600px;
}

.appHead {
  width: 100%;
  min-height: $nav-height;
  @include borderRadius(0 0 4px 4px);
}

.btnStd {
  @extend .btn;
  text-transform: uppercase;
  font-weight: 800;
}

.navBtn {
  @extend .btnStd;
  background: transparent;
  color: $bodyColor;
  font-size: 12.5px;
  letter-spacing: 0.15rem;
  border: 2px solid transparent;
  @include borderRadius(4px);
  padding: 5px 9px;
  margin: auto 4px;
  &:hover,
  &:focus,
  &.active {
    color: $primary;
    border-color: $primary;
    @include insetShadow(0, -2px, 0, 0, rgba(0, 119, 68, 0.16));
  }
  @media screen and (max-width: $md) {
    margin: .2rem auto;
  }
}

#appNavBar {
  min-height: $nav-height;
  padding: 0;
  @include boxShadow(0, 1px, 2px, 0, rgba(0, 0, 0, 0.19));
}


.logo {
  margin: auto 30px;
  @media screen and (max-width: $md) {
    margin: 13px 20px;
  }
}

#navToggler {
  @extend .logo;
  border-color: transparent;
}

.loginContainer {
  background: #eee;
  margin-left: 9px;
  height: $nav-height;
  min-width: 187px;
  @media screen and (max-width: $md) {
    margin-left: 0;
    width: 100%;
  }
}

.logBtn {
  @extend .navBtn;
  background: $primary;
  color: #fff;
  border: 2px solid $primary;
  margin: 17px 0;
  @include paddingX(17px);
  @include insetShadow(0, -2px, 0, 0, rgba(0, 119, 68, 0.16));
  &:hover,
  &:focus,
  &:active {
    background: transparent;
    color: $primary;
  }
  @media screen and (max-width: $md) {
    @include marginY(17px);
  }
}

.userInfo {
  @include marginY(6px);
  text-align: right;
  @media screen and (max-width: $md) {
    text-align: center;
  }
}

.userName {
  font-size: 12px;
  letter-spacing: 0.015rem;
  font-weight: 800;
  color: #3d3d3d;
  margin: auto 6px;
}

.userAvatar {
  margin-right: 30px;
  @media screen and (max-width: $md) {
    margin-right: 0;
  }
}

.appMain {
  width: 100%;
  background: #ededed;
  padding: 17px;
  margin: 0;
  @media screen and (max-width: $md) {
    padding: 7px;
  }
  & * {
    padding: 0;
    margin: 0;
  }
  & .appContent {
    @include marginY(6px);
  }
}

.titleStd {
  text-transform: uppercase;
  color: #777;
  font-weight: 700;
  letter-spacing: 0.02rem;
  line-height: 1;
  text-align: left;
}

.colTitle {
  @extend .titleStd;
  font-size: 1.1rem;
  margin: 9px 13px 25px 36px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.flexContainer > .flexBox {
  flex: 1;
}

.cardContainer {
  background: #fff;
  @include boxShadow(0, 2px, 5px, 2px, #d6d6d6);
  @include borderRadius(2px);
  padding: 0;
  margin: 7px 13px;
}

.cardHead {
  @extend .titleStd;
  text-transform: capitalize;
  font-weight: 700;
  padding: 15px 0 15px 23px;
}

.cardHeadGreen {
  @extend .cardHead;
  @include insetShadow(3px, 0, 0, 0, $primary);
}

.cardContent {
  position: relative;
  padding: 6px 24px 30px;
  text-align: left;
}


.inputStd {
  background: transparent;
  margin-top: -2px;
  padding: 0 4px 4px 7px;
  border: 1px solid transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  @include borderRadius(0);
}

.dollarLabel {
  @extend .inputStd;
  margin-left: -2px;
  padding-left: 0;
  padding-right: 4px;
  font-weight: 700;
  color: #b2b2b2;
}

.inputCont {
  @extend .inputStd;
  border-bottom: 1px solid #b2b2b2;
  color: #565353;
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
    border-bottom: 1px solid $primary;
  }
}

.dropDownGroup {
  margin-left: 15px;
  &.show .dropDown {
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid $primary;
  }
}

.dropDown {
  @extend .inputStd;
  padding-top: 6px;
  padding-bottom: 9px;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #565353;
  border-bottom: 2px solid #b2b2b2;
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
    border-bottom: 2px solid $primary;
    background: transparent;
    color: $primary;
  }
  &::before {
    position: absolute;
    right: 5px;
    bottom: 15px;
    content: "";
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
  &::after {
    vertical-align: 1px;
    border-top: 5px solid #0d7e4e;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}

.dropItem {
  @extend .dropdown-item;
  padding: 3px 7px;
  text-transform: uppercase;
  &:hover,
  &:focus {
    color: $primary;
  }
}

.cardFlexIcon {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

/* Range Slider */

  // Base Colors
  $shade-10: #fff !default;
  $shade-1: #007744 !default;
  $shade-0: #fff !default;

  .range-slider {
    @extend .inputStd;
    @include paddingX(4px);
    @include paddingY(0);
    margin-top: -10px;
    margin-bottom: -25px;
  }

  // Range Slider
  $range-width: 100% !default;

  $range-handle-color: $shade-10 !default;
  $range-handle-border: $shade-1 !default;
  $range-handle-color-hover: $primary !default;
  $range-handle-size: 17px !default;

  $range-track-color: #e0dfdf !default;
  $range-track-height: 4px !default;

  $range-label: #a1a1a1 !default;
  $range-label-color: #eaeaea !default;

  .range-slider {
    width: $range-width;
  }

  .range-slider__range {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    height: $range-track-height;
    border-radius: 5px;
    background: $range-track-color;
    outline: none;
    padding: 0;
    margin: 0;
    top: -22px;

    // Range Handle
    &::-webkit-slider-thumb {
      position: relative;
      -webkit-appearance: none;
      width: $range-handle-size;
      height: $range-handle-size;
      border: 3px solid $range-handle-border;
      background: $range-handle-color;
      border-radius: 50%;
      cursor: pointer;
      @include aFade(all .3s);

      &:hover,
      &:active {
        border-color: $primary;
      }
    }

    &::-moz-range-thumb {
      width: $range-handle-size;
      height: $range-handle-size;
      border: 3px solid $range-handle-border;
      border-radius: 50%;
      background: $range-handle-color;
      cursor: pointer;
      @include aFade(all .3s);

      &:hover,
      &:active {
        border-color: $primary;
      }
    }
  }

  // Range Label
  .range-slider__value {
    position: relative;
    top: -8px;
    color: $range-label;
    font-size: 10px;
    letter-spacing: normal;
    font-weight: 600;
    text-align: left;
    border-radius: 15px 4px 0 0;
    background: $range-label-color;
    padding: 3px 8px 3px 16px;
  }

  // Firefox Overrides
  ::-moz-range-track {
      background: $range-track-color;
      border: 0;
  }

  // Range Scale
  .rangeScale {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    padding-top: 2px;
    color: $complementary;
    margin-bottom: -10px;
  }

  input::-moz-focus-inner,
  input::-moz-focus-outer {
    border: 0;
  }
/* ----- */

.portBtn {
  @extend .navBtn;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
  border: 2px solid $complementary;
  @include paddingY(auto);
  @include paddingX(36px);
  height: 38px;
  margin-bottom: -10px;
}

.investList {
  table-layout: fixed;
  width: 100%;
  color: $complementary;
  background: #fafafa;
  margin-top: -7px;
  & thead {
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    @include insetShadow(3px, 0, 0, 0, $primary);
    & tr {
      display: block;
      position: relative;
      padding: 4px 12px;
      margin: 12px 29px 12px 12px;
    }
    & th {
      @extend .titleStd;
      text-transform: capitalize;
      font-weight: 700;
    }
  }
  & tbody {
    display: block;
    overflow: auto;
    max-height: 468px;
    width: 100%;
    @include marginY(6px);
    border-bottom: 1px solid #e8e8e8;
    & tr {
      display: block;
      position: relative;
      padding: 4px 11px;
      margin: 12px 12px;
      min-height: 30px;
      border: 1px solid transparent;
      border-radius: 4px;
      &.added {
        border: 1px solid transparent;
        @include boxShadow(0, 0, 2px, 3px, #e1e1e1);
        font-weight: 800;
      }
    }
  }

  td:nth-child(1), th:nth-child(1) { max-width: 320px; width: 50%; }
  td:nth-child(2), th:nth-child(2) { min-width: 105px; }
  td:nth-child(3), th:nth-child(3) { min-width: 45px; }
  td:nth-child(4), th:nth-child(4) { width: 90px; }
  td:nth-child(5), th:nth-child(5) { width: 48px; }

  & td,
  & th {
    &:first-child {
      text-align: left;
    }
    &:not(:first-child) {
      text-align: center;
    }
  }
}

.downloadBtn {
  @include grayFilter(100%);
  &:hover,
  &:focus,
  &:active {
    @include grayFilter(0, 100%);
  }
}

.addBtn {
  @include paddingY(2px);
  &:hover,
  &:focus,
  &:active {
    @include contFilter(0);
  }
  &.added {
    @include paddingY(0);
    &:hover,
    &:focus,
    &:active {
      @include grayFilter(0, 80%);
    }
  }
}

.assetList {
  @extend .investList;
  font-size: 14px;
  font-weight: 800;

  td:nth-child(1), th:nth-child(1) { max-width: 300px; width: 75%; }
  td:nth-child(2), th:nth-child(2) { min-width: 60px; }
  td:nth-child(3), th:nth-child(3) { width: 20px; }

  & thead td:not(first-child) {
    text-align: left;
  }

  & .inputAlloc {
    @extend .inputCont;
    text-align: right;
    padding-bottom: 0;
    max-width: 50px;
  }
  & .percentLabel {
    @extend .dollarLabel;
    padding-bottom: 0;
  }
}

.deleteBtn {
  @extend .addBtn;
  padding-bottom: 10px;
}

.totalRow {
  font-size: 14px;
  font-weight: 800;
  text-align: left;
  & .totalAlloc {
    font-size: 20px;
    padding-left: 42px;
  }
}

.confirmBtn {
  @extend .portBtn;
  background: $primary;
  color: #fff;
  border: 2px solid $primary;
  bottom: 15px;
  @include insetShadow(0, -1px, 0, 0, $secondary);
  @include paddingX(67px);
  &:hover,
  &:focus {
    background: #fff;
    color: $primary;
  }
}

.dashCard {
  @include boxShadow(0, 4px, 0, 0, $primary);
  margin-top: 12px;
  padding-top: 30px;
}

.dashImg {
  height: 160px;
  display: flex;
  vertical-align: bottom;
  justify-content: center;
  & img {
    margin-top: auto;
  }
}

.dashTitle {
  @extend .titleStd;
  display: block;
  @include paddingY(30px);
  font-size: 30px;
  color: #323232;
  letter-spacing: 2px;
  font-weight: 800;
  text-align: center;
}

.dashContent {
  font-size: 12.5px;
  @include paddingX(65px);
}

.dashBtn {
  @extend .portBtn;
  width: 194px;
  height: 49px;
  font-size: 17px;
  @include paddingY(12px);
  @include marginY(40px);
  &:hover,
  &:focus,
  &:active {
    color: $primary;
  }
}

.activityTitle {
  @extend .titleStd;
  @extend .colTitle;
  @extend .col-12;
  margin-bottom: 18px;
  & .subtitle {
    font-weight: 800;
  }
}

.learnTitle {
  @extend .cardHeadGreen;
  @include insetShadow(6px, 0, 0, 0, $primary);
  font-size: 26px;
  padding: 53px 45px 50px;
  padding-top: 53px;
  padding-bottom: 50px;
}

.learnContent {
  @extend .cardContent;
  font-size: 14px;
  letter-spacing: .8px;
  margin-top: -13px;
  padding-left: 45px;
  padding-right: 65px;
}

.learnBtn {
  @extend .dashBtn;
  color: #a1a1a1;
  border-color: #a1a1a1;
  margin-top: 18px;
  margin-bottom: 60px;
}

.chapterHead {
  @extend .cardHeadGreen;
  font-size: 16px;
  border-bottom: 1px solid #d2d2d2;
  & .infoTitle {
    float: right;
    margin: -3px 15px;
  }
}

.chapterBox {
  display: block;
  padding: 24px 6px 0;
  & .chapterTitle {
    padding: 3px;
    font-size: 13px;
    font-weight: 700;
  }
  & .chapterSubtitle {
    font-size: 11px;
    margin-top: -4px;
    padding: 0 3px;
  }
}

.lessonActivity {
  padding: 42px 39px;
  & .cardContent {
    font-size: 13px;
  }
}

.lessonVideo {
  padding-right: 9px;
}

.lessonTitle {
  @extend .titleStd;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 800;
  padding-left: 24px;
}

.lessonSubtitle {
  @extend .titleStd;
  text-transform: capitalize;
  color: #777;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 24px;
}


.backBtn {
  @extend .btnStd;
  width: 198px;
  background-color: transparent;
  font-weight: 700;
  color: $primary;
  border: 2px solid $primary;
  font-size: 17px;
  @include paddingY(10px);
  margin-top: -10px;
  margin-bottom: 13px;
  &:hover,
  &:focus,
  &:active {
    background-color: $primary;
    color: #fff;
  }
}
.planBtn {
  @extend .btnStd;
  width: 198px;
  background-color: $primary;
  font-weight: 700;
  color: #fff;
  border: 2px solid $primary;
  font-size: 17px;
  @include paddingY(10px);
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: $primary;
  }
}

.furtherHead {
  @extend .chapterHead;
}

.contactTitle {
  font-size: 16px;
  font-weight: 700;
  color: $primary;
  padding-top: 20px;
  padding-bottom: 15px;
}

.contactInfo {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.downloadBack {
  position: absolute;
  bottom: 20px;
  right: 24px;
}

.tabMenu {
  & .tabBtn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1px;
    color: #b2b3b2;
    padding: 15px 23px;
    @include borderRadius(2px);
    border: none;
    @include insetShadow(3px, 0, 0, 0, #e2e0e0);
    &.active {
      @include insetShadow(3px, 0, 0, 0, $secondary);
      color: $primary;
    }
  }
  & .continueBtn {
    @extend .btnStd;
    padding: 10px 40px;
    @include marginY(auto);
    margin-left: auto;
    margin-right: 50px;
    background: $secondary;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
  }
}

.appFooter {
  width: 100%;
}
.fooBtn {
  @extend .btnStd;
  font-size: 12.5px;
  color: #2d2e2d;
  padding: 20px 15px;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
  }
  @media screen and (max-width: $sm) {
    margin-top: .6rem;
    margin-bottom: -.4rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.company {
  color: #2d2e2d;
  text-transform: none;
}
